
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 259 40% 12%; /* dark purple background */
    --foreground: 275 30% 90%; /* light purple text */

    --card: 260 35% 15%; /* a bit lighter purple */
    --card-foreground: 274 30% 90%;

    --popover: 260 30% 15%;
    --popover-foreground: 275 30% 90%;

    --primary: 274 70% 60%;
    --primary-foreground: 275 50% 95%;

    --secondary: 275 40% 50%;
    --secondary-foreground: 273 30% 90%;

    --muted: 270 25% 30%;
    --muted-foreground: 270 20% 65%;

    --accent: 263 50% 70%;
    --accent-foreground: 271 40% 30%;

    --destructive: 320 80% 70%;
    --destructive-foreground: 275 50% 95%;

    --border: 270 20% 40%;
    --input: 270 30% 40%;
    --ring: 270 40% 55%;

    --radius: 0.5rem;

    --sidebar-background: 260 40% 15%;
    --sidebar-foreground: 270 20% 70%;
    --sidebar-primary: 274 70% 40%;
    --sidebar-primary-foreground: 273 40% 90%;
    --sidebar-accent: 270 40% 50%;
    --sidebar-accent-foreground: 273 40% 90%;
    --sidebar-border: 265 20% 40%;
    --sidebar-ring: 265 30% 60%;
  }

  .dark {
    --background: 257 30% 12%; /* darker purple background */
    --foreground: 275 25% 95%; /* very light purple text */

    --card: 257 30% 15%;
    --card-foreground: 275 30% 95%;

    --popover: 257 25% 15%;
    --popover-foreground: 275 30% 95%;

    --primary: 276 80% 55%;
    --primary-foreground: 275 30% 95%;

    --secondary: 276 30% 40%;
    --secondary-foreground: 275 30% 95%;

    --muted: 276 30% 20%;
    --muted-foreground: 275 30% 85%;

    --accent: 268 60% 70%;
    --accent-foreground: 275 40% 90%;

    --destructive: 320 80% 60%;
    --destructive-foreground: 275 30% 95%;

    --border: 268 30% 45%;
    --input: 268 30% 40%;
    --ring: 269 30% 70%;

    --sidebar-background: 257 20% 10%;
    --sidebar-foreground: 273 30% 95%;
    --sidebar-primary: 275 70% 50%;
    --sidebar-primary-foreground: 275 30% 95%;
    --sidebar-accent: 275 30% 40%;
    --sidebar-accent-foreground: 275 30% 95%;
    --sidebar-border: 269 25% 45%;
    --sidebar-ring: 270 45% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .step-item {
    @apply relative flex flex-col justify-center items-center w-36;
  }
  
  .step-item:not(:first-child):before {
    @apply content-[''] bg-slate-800 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
  }
  
  .step-item.active:not(:first-child):before {
    @apply bg-primary;
  }
  
  .step {
    @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-800 rounded-full font-semibold text-slate-300;
  }
  
  .active .step {
    @apply bg-primary text-primary-foreground;
  }
  
  .complete .step {
    @apply bg-green-600 text-white;
  }
  
  .card-category {
    @apply border-2 border-transparent hover:border-primary rounded-xl p-6 cursor-pointer transition-all;
  }
  
  .card-category.selected {
    @apply border-primary bg-accent;
  }
}

